* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f7fb;
    color: #333;
}


/* ====topbar==== */
.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    position: fixed;
    top: 0;
    background: linear-gradient(#d0d1d4, #f1f1f3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .18);
    z-index: 3;

}

.logo img {
    width: 70px;
    margin-top: 6px;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a {
    color: #103565;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.nav-links a:hover {
    color: rgb(3, 0, 16);
    border-bottom: 2px solid #f8c838;
}

.login-btn {
    border: none;
    padding: 12px 26px;
    border-radius: 30px;
    background: linear-gradient(135deg, #031941, #103a7d);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .35s;
}

.login-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(59, 130, 246, .45);
}


/* ====archieve==== */
.archieve-section {
    width: 100%;
    /* border:1px solid red; */
    padding-top: 100px;
    padding-bottom: 100px;

}

.archieve-contant {
    width: 90%;
    /* border:1px solid red; */
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.archieve-info {
    width: 50%;
    /* border:1px solid red; */
    padding: 20px;
}

.archieve-info h2 {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
}

.archieve-info h1 {
    color: red;
    margin-left: 50px;
    font-size: 60px;
    margin-bottom: -50px;

}

.archieve-info p {
    margin-top: 20px;
    font-size: 12px;
    text-align: justify;
    margin-left: 50px;
}

.btn-first {
    margin-top: 50px;
    margin-left: 50px;
    border: 1px solid #2c3c62;
    padding: 14px 28px;
    background-color: #38bdf8;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    transition: all 0.5s;

}

.btn-first:hover {
    transform: translateY(-12px);
    box-shadow: 2px 4px #9bd9f4;
}

.btn-second {
    margin-left: 40px;
    border: 1px solid #2c3c62;
    padding: 14px 28px;
    background-color: #38bdf8;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

.btn-second:hover {
    transform: translateY(-12px);
    box-shadow: 2px 4px #9bd9f4;
}

.archieve-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.image-first {
    width: 50%;
    /* border: 1px solid red; */
}

.image-first img {
    width: 99%;
    /* border: 1px solid green; */

}

.image-second {
    width: 50%;
    /* border: 1px solid red; */
}

.image-second img {
    width: 99%;
}


/* ====footer==== */
.wow-footer {
    position: relative;
    overflow: hidden;
    background: linear-gradient(#9498a4, #d4d4d5);
    padding: 70px 8% 25px;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.brand .logo {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.brand h1 {
    font-size: 38px;
    color: #38bdf8;
}

.brand p {
    color: #103565;

    line-height: 1.7;
    margin: 15px 0;
}


.links h3,
.footer-contact h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #facc15;
}


.links a {
    display: block;
    text-decoration: none;
    color: #103565;
    margin: 12px 0;
    transition: .3s;
}

.links a:hover {
    color: #103565;
    transform: translateX(10px);
}

.social {
    display: flex;
    gap: 12px;
}

.social a {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, .15);
    color: #103565;
    text-decoration: none;
    transition: .3s;
}

.social a:hover {
    background: #22d3ee;
    transform: translateY(-8px);
}

.footer-contact p {
    margin: 15px 0;
    color: #103565;

}

.footer-contact a {
    color: #103565;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}



.footer-contact button {
    margin-top: 20px;
    padding: 14px 28px;
    border: none;
    border-radius: 30px;
    background: white;
    color: #0f172a;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.footer-contact button:hover {
    background: #22d3ee;
    color: white;
    transform: scale(1.05);
}

.copyright {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid rgba(119, 115, 115, 0.2);
    color: #103565;

}



/* Responsive */

@media(max-width:900px) {
    * {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    /* ===topbar==== */
    .logo img {
        margin-left: -70px;
        width: 90px;
    }

    .nav-links {
        margin-left: px;
        gap: 15px;
    }

    .nav-links a {
        font-size: 10.3px;
    }

    .login-btn {
        padding: 2px 5px;
        font-size: 12px;
        margin-left: 10px;
    }

    /* ====archieve==== */
    .archieve-contant {
        display: block;
    }

    .archieve-info {
        width: 100%;
    }

    .archieve-info h2 {
        margin-top: 30px;
        width: 400px;
        font-size: 45px;
        margin-left: -10px;
    }

    .archieve-info h1 {
        margin-left: -10px;
        margin-bottom: -30px;
    }

    .archieve-info p {
        margin-left: -10px;
    }

    .btn-first {
        margin-left: -10px;
        padding: 15px;
    }

    .btn-second {
        margin-left: -10px;
        margin-top: 5px;
    }

    .archieve-image {
        width: 100%;
        display: flex;
    }


    /* ====footer==== */
    .wow-footer {

        width: 100%;
        margin-top: -100px;

    }

    .footer-content {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .brand .logo {
        width: 20px;
        height: 20px;
        margin-left: 60px;
    }

    .brand h1 {
        font-size: 18px;
    }

    .brand p {
        font-size: 10px;
    }

    .links h3,
    .footer-contact h3 {
        font-size: 12px;
    }

    .links a {
        font-size: 10px;
    }

    .social {
        font-size: 10px;
    }

    .social a {
        width: 20px;
        height: 20px;
    }

    .footer-contact p {
        font-size: 10px;
    }

    .footer-contact button {
        padding: 7px 14px;
        font-size: 10px;
    }

    .footer-copyright {
        font-size: 10px;
    }

}