* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* ====topbar==== */
.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    position: fixed;
    top: 0;
    background: linear-gradient(#d0d1d4, #f1f1f3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .18);
    z-index: 1;

}

.logo img {
    width: 70px;
    margin-top: 6px;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a {
    color: #103565;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.nav-links a:hover {
    color: rgb(3, 0, 16);
    border-bottom: 2px solid #f8c838;
}

.login-btn {
    border: none;
    padding: 12px 26px;
    border-radius: 30px;
    background: linear-gradient(135deg, #031941, #103a7d);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .35s;
}

.login-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(59, 130, 246, .45);
}

/* ====feature section */

.features {

    padding: 100px 8%;

    background:
        linear-gradient(135deg, #eef5ff, #ffffff, #f8fbff);

}

.container {
    max-width: 1300px;
    margin: auto;
}

.section-title {

    text-align: center;
    margin-bottom: 70px;

}

.section-title span {

    display: inline-block;
    background: #0066ff15;
    color: #2563eb;
    padding: 8px 20px;
    border-radius: 30px;
    font-weight: 600;
    margin-bottom: 18px;
}

.section-title h2 {
    font-size: 42px;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 15px;
}

.section-title p {
    max-width: 700px;
    margin: auto;
    font-size: 17px;
    color: #64748b;
    line-height: 1.8;
}

.feature-grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    gap: 30px;

}

.card {
    background: rgba(255, 255, 255, .75);

    border-radius: 25px;

    padding: 40px 30px;

    transition: .45s;

    border: 1px solid rgba(255, 255, 255, .4);

    box-shadow:
        0 15px 40px rgba(0, 0, 0, .06);

}

.card:hover {

    transform: translateY(-15px);

    box-shadow:
        0 25px 50px rgba(37, 99, 235, .18);

}

.icon {

    width: 75px;

    height: 75px;

    background: linear-gradient(135deg, #2563eb, #38bdf8);

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 34px;

    border-radius: 20px;

    color: #fff;

    margin-bottom: 25px;

    box-shadow: 0 12px 30px rgba(37, 99, 235, .25);

}

.card h3 {

    font-size: 23px;

    color: #0f172a;

    margin-bottom: 15px;

}

.card p {

    color: #64748b;

    font-size: 15px;

    line-height: 1.8;

}




/* ====footer==== */
.wow-footer {
    position: relative;
    overflow: hidden;
    background: linear-gradient(#9498a4, #d4d4d5);
    padding: 70px 8% 25px;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.brand .logo {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.brand h1 {
    font-size: 38px;
    color: #38bdf8;
}

.brand p {
    color: #103565;

    line-height: 1.7;
    margin: 15px 0;
}


.links h3,
.footer-contact h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #facc15;
}


.links a {
    display: block;
    text-decoration: none;
    color: #103565;
    margin: 12px 0;
    transition: .3s;
}

.links a:hover {
    color: #103565;
    transform: translateX(10px);
}

.social {
    display: flex;
    gap: 12px;
}

.social a {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, .15);
    color: #103565;
    text-decoration: none;
    transition: .3s;
}

.social a:hover {
    background: #22d3ee;
    transform: translateY(-8px);
}

.footer-contact p {
    margin: 15px 0;
    color: #103565;

}

.footer-contact a {
    color: #103565;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}



.footer-contact button {
    margin-top: 20px;
    padding: 14px 28px;
    border: none;
    border-radius: 30px;
    background: white;
    color: #0f172a;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.footer-contact button:hover {
    background: #22d3ee;
    color: white;
    transform: scale(1.05);
}

.copyright {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid rgba(119, 115, 115, 0.2);
    color: #103565;

}



@media(max-width:768px) {

    /* ====topbar==== */
    * {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    /* ===topbar==== */

    .logo img {
        margin-left: -70px;
        width: 90px;
    }

    .nav-links {
        margin-left: px;
        gap: 15px;
    }

    .nav-links a {
        font-size: 11px;
    }

    .login-btn {
        padding: 4px 10px;
        margin-left: 20px;
    }

    /* ====feature==== */
    .section-title h2 {

        font-size: 32px;

    }

    .features {

        padding: 70px 20px;

    }

    /* ====footer==== */

    .wow-footer {

        width: 100%;
        margin-top: 20px;

    }




    .footer-content {

        display: flex;
        justify-content: center;
        gap: 40px;


    }



    .brand .logo {

        width: 20px;
        height: 20px;
        margin-left: 60px;


    }


    .brand h1 {

        font-size: 18px;


    }


    .brand p {

        font-size: 10px;

    }



    .links h3,
    .contact h3 {

        font-size: 12px;

    }


    .links a {
        font-size: 10px;

    }




    .social {

        font-size: 10px;
    }


    .social a {

        width: 20px;
        height: 20px;


    }


    .contact p {

        font-size: 10px;
    }



    .contact button {

        padding: 7px 14px;

        font-size: 10px;

    }

    .copyright {

        font-size: 10px;
    }

}